@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;
  --neutral-rgb: 0, 0, 0;
  --primary-rgb: 174, 214, 241;
  --secondary-rgb: 160, 160, 160;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --neutral-rgb: 255, 255, 255;
    --primary-rgb: 174, 214, 241;
    --secondary-rgb: 160, 160, 160;
  }
}

a {
  @apply hover:underline;
}
